h1 {
    color:rgb(84, 163, 137)
}
h2 {
    color:rgb(84, 163, 137)
}
h3 {
    color:rgb(84, 163, 137)
}

.greenheader {
    color:rgb(84, 163, 137)
}


.navbar li {
    display: inline-block;
    /* padding: 10px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
  }

  .navbar li a {
    color: black;
    text-decoration: none;
}


.navbar {
    padding: 10px;
    position: relative;
    background-color: #fff;
  }



.navbar-brand {
    color: white;
    font-weight: bold;
    background-color: rgb(84, 163, 137);
    font-size: 25px;
    padding: 20px;
    margin-top: 10px;
}

/* how do you know when to change from one type to another?  992 when nav par changes, 767 when bootstrap grid changes on index page */

@media (max-width: 767px) {
    .navbar {
        background-color: rgb(84, 163, 137);
    }
    .navbar-brand {
        font-size: 50px;
        font-weight: bolder;
    }
}

body {
    background-color: lightgray;

}

/* #Limage1 {
    float:left;
    /* width: 200px;
    height: 200px; 
    margin: 10px;
    margin-right: 2%;
    margin-left: 0;
} */

#Lcontainer1 {

    float:start;
    width: 60%;
    margin-top: 50px;
    margin-left: 5%;
    background-color: mediumpurple;
   
}

#Lcontainer2 {

    float:start;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5%;
    background-color: lightskyblue;

   
}

#Lcontainer3 {

    float:start;
    margin-top: 50px;
    padding: 2%;
    background-color: lightpink;
   
}

.img1 {
    float:left;
    width: 25%;
    margin: 10px;
    margin-right: 2%;
    margin-left: 0;
}

.img2 {
    float:left;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-right: 2%;
    margin-left: 2%;
}

.carousel-caption {
    top: 0;
    bottom:auto;
    z-index: 10;
}

.pad2 {
    margin-bottom: 2%;
}
.pad5 {
    margin-bottom: 5%;
}
.rowpad2 {
    margin-bottom: 2%;
}

.rowpad5 {
    margin-bottom: 5%;
}

.rowpad {
    margin-bottom: 10%;
}
/* 
#Lparagraph1 {

    float:left;
    width: 60%;
    margin-left: 5%;
   
} */

#main-bio {
    float:start;
    width: 60%;
    margin-top: 50px;
    margin-left: 5%;
   
}

#bio-image {
    float:start;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-right: 2%;
    margin-left: 0;
}

/* .container {
    width: 1024px;
    margin: 0 auto;
} */

#contact-info {
    float:start;
    line-height: 1.5;
    margin-left: 5%;
    width: 30%;

}